In [ ]:
# import pandas Libararies

In [2]:
#pandas is a library and it contains the functions related to the dataframe
import pandas as pd

In [4]:
#dataset is loaded and read into memory variable called dataset 
# read_csv is the function take file name as parameter finally 
# creates pandas DataFrame
dataset=pd.read_csv("Salary_Data.csv")

In [33]:
#Display Pandas DataFrame loaded into the variable dataset in above cell[4]
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [34]:

# using the index (row labels) of the DataFrame. slice and dice dataset
independent=dataset[["YearsExperience"]]#
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [9]:
# using the  index (row labels) of the DataFrame. . slice and dice dataset
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [35]:

# libraries are imported from class sklearn.
## specfic method is imported train_test_split
# dataset independent, dependent passed into 
## respective variables X_train, y_train loaded into the model
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [12]:
# libraries are imported from class sklearn.
## LinearRegression function is imported 
## LinearRegression() is stored in varaiable regressor
## regresson.fit method invoked (X_train, y_regressor.coef_train) dataset is passed

from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [36]:
### The coefficients Attributes
weight=regressor.coef_
weight

array([[9360.26128619]])

In [15]:
### The intercept_ Attributes
bais=regressor.intercept_
bais

array([26777.3913412])

In [37]:
##prediction
y_pred=regressor.predict(X_test)

In [38]:
##import r2_score from class sklearn function metrics
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [39]:
##varibale data is displayed from above step [38]
r_score

0.9740993407213511

In [40]:
## import pickle to save the model filename 'finalized_model_linear.sav' 
## varabile value is set.
import pickle
filename="finalized_model_linear.sav"

In [20]:
## to save the model to the given filename write binary
pickle.dump(regressor,open(filename,'wb'))

In [23]:

## load the model read binary filename='finalized_model_linear.sav' 
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[13]])

C:\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [24]:
## data is displayed stored in result variable.
result

array([[148460.78806172]])